@import 'tailwindcss';
@import 'toastr/build/toastr.min.css';
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';


}

#toast-container {
    top: 100px !important;
    right: 20px !important;
}
#toast-container > .toast-success {
    background-color: #FF6A00 !important;
    opacity: 1;
}

#toast-container > .toast-error {
    background-color: #e11d48 !important;
    opacity: 1;
}
#toast-container > .toast-warning,
#toast-container > .toast-info {
    background-color: #f59e0b !important;
    opacity: 1 !important;
}

#toast-container > .toast .toast-progress {
    background-color: #ffffff;
    opacity: 0.3;
}

.toast-message {
    font-family: Google Sans,Roboto,Arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
}
button:hover{
cursor: pointer;
}
*{
    font-family: "Hind Siliguri", Sans-serif;
}
#cat-slider a:hover img {
    transform: scale(1.1);
}
.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
