@import 'tailwindcss';
@import 'toastr/build/toastr.min.css';
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';


}

#toast-container {
    top: 100px !important;
    right: 20px !important;
}
#toast-container > .toast-success {
    background-color: #FF6A00 !important;
    opacity: 1;
}

#toast-container > .toast-error {
    background-color: #e11d48 !important;
    opacity: 1;
}
#toast-container > .toast-warning,
#toast-container > .toast-info {
    background-color: #f59e0b !important;
    opacity: 1 !important;
}

#toast-container > .toast .toast-progress {
    background-color: #ffffff;
    opacity: 0.3;
}

.toast-message {
    font-family: Google Sans,Roboto,Arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
}
button:hover{
cursor: pointer;
}
*{
    font-family: "Hind Siliguri", Sans-serif;
}
#cat-slider a:hover img {
    transform: scale(1.1);
}
.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.prose li p{
  margin: 0px !important;

}
.prose li {
  margin: 0px !important;
}
.prose p{
  margin-top: 5px !important;
  margin-bottom: 0;
}
.prose ul{
  margin-top: 0 !important;
}
.prose a{
  color: rgb(50, 50, 230);
}
.prose h2,.prose h3{
margin-top: 15px;
  margin-bottom: 0px;
}
/* Small devices (phones) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Tablets */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Small laptops */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Desktops */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Large desktops */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}